* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Ubuntu', sans-serif;

}
/* Header standards for desktop + mobile */ 
header {
  display: flex;
  top: 0;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.navbar img {
  height: 100%;
  width: 8rem;
}

.navbar ul {
  display: flex;
  height: 100%;
  max-width: 100%;
  align-items: center;
  z-index: 10;
  padding: 0px 200px;


}

.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;
  top: 0;
  width: 100%;
  


}

.navbar ul li {
  list-style: none;
  display: block;
  position: relative;
  margin: 0 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
 
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  

}
/* Button for burgermenu */
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* Standard settings for footer */
.footer {
  text-align: center;
  height: 100px;
}

.some-icons img {
  height: 20x;
  width: 20px;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;

}

.footerlogo {
  height: 50px;

}

.footerwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.footer p {
  font-size: 1rem;
  margin: 10px;
}

.wrap-main {
  height: 100%;
}
/* Landing page desktop version */ 
.mainclass {
  height: 100vh;
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  max-width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/img/forside-tuborg-squash.webp);
}

.text-landing {
  position: relative;
  padding-top: 70px;
  text-align: center;
}

.headliner1 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.inline {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 70rem;

}

.mainclass h2 {
  font-size: 3em;
  max-width: 100%;
}

.mainclass p {
  font-size: 1.8rem;
  padding-bottom: 20px;
}

/* Beach-foto section for summerkit page -- desktop */ 
.headerpicture {
  height: 25vh;
  background-image: url(/img/strandbaggrund-desktop.webp);
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;


}

.headerpicture h3 {
  position: relative;
  padding-top: 80px;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

/* Summer kit side*/
.section2 {
  background-image: url(/img/sommerkit-tuborg-squash.webp);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  width: auto;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/* Not displaying the can for desktop version */ 
.boxunder img {
  display: none;
}

/* Text under summer-kit picture */
.sommerkit-text {
  display: flex;
  font-size: 2rem;
  color: black;
  padding-right: 10%;
  align-items: flex-end;
  margin-bottom: 10%;
  width: 90%;
  padding-left: 14%;
  text-decoration: underline;
 

}




/*might delete - text next to can,*/
.cantext {
  font-size: 1.5rem;
  width: 20%;
  line-height: 1.5;
  display: flex;
  align-items: center;
  padding-bottom: 6%;
  margin-left: 15%;
  width: 20%;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

/* Not displaying mobile version box */
.boxunder {
  display: none;
}

/* box around newsletter class */ 
.section4 {
  height: 20vh;
  width: 100%;
  background-color: #f6995b;
}
/* class for newsletterbox */ 
.column1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Nyhedsbrev box */
.nyhedsbrev {
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  background-color: #f6995b;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5% 2%;

}

.nyhedsbrev p {
  line-height: 2.5rem;
  font-size: 1.8rem;
  margin-top: 10px;
  width: 90%;
  text-align: center;
}

.nyhedsbrev input {
  width: 70%;
  font-size: 1.4rem;
  height: 40%;
  padding: 10px;

  border: 1px solid black
}

.nyhedsbrev a {
  width: 80%;
  height: 15%;
  background-color: white;
  border-radius: 10px;
  margin-top: 5%;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: bold;

}

.nyhedsbrev h2 {
  font-size: 3rem;
}

/* Product side */ 
.section3 {
  background-image: url(/img/produktside-desktop.webp);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-position-y: 0px;
  width: auto;
}

.produktside-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 70%;
  margin-left: 15%;
  padding-top: 25%;
  padding-left: 10%;

}

.produktside-text p {
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  line-height: 2, 5rem;
  text-align: center;
}
/* "Se produkt" button */
.produktside-text a {
  width: 35%;
  height: 8%;
  background: white;
  border: 2px solid black;
  text-align: center;
  padding: 1%;
  font-size: 1.6rem;
  font-size: clamp(1.5rem, 2rem, 3rem);
  color: #ffb819;
  border-radius: 20px;

}

.sec3-text1 {
  padding: 5%;
}

.sec3-text2 {
  padding: 5%;
}

.sec3-text3 {
  padding: 5%;
}

/* Infographic.html side styling -- desktop */
.main-sommer {
  height: 120vh;
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  max-width: 100%;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/infographic-desktop.webp);
}

.headliner-sommerkit {
  height: 100%;
  display: flex;
  max-width: 100%;
  margin-top: 5%;
}

.main-sommer h2 {
  font-size: 3rem;
  padding: 10px;
  text-align: center;

}

/* SHOP.HTML STYLES -- desktop */
.main-shop {
  height: 90vh;
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0px;
  width: auto;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/shopside.webp);
}

.kassewrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.kassewrapper a {
  width: 35vh;
  height: 25vh;
  background-color: rgb(255, 255, 255);
  margin: 40px;
  color: rgb(51, 51, 51);
  text-align: center;
  border: 1px solid grey;


}

.kassewrapper img {
  width: 100%;
  height: 100%;
}

.kassewrapper p {
  position: relative;
  font-weight: bold;
  height: 100%;
}

.firstrow {
  display: flex;
}

.secondrow {
  display: flex
}

.underline-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* placere nyt sted */ 
.section4 img {
  display: none;
}
/* Landing page adjustments */ 
@media only screen and (max-width: 1100px) {
  .text-landing {
    position: relative;
    padding-top: 40px;
    text-align: center;
  }
  
  .headliner1 {
    text-align: center;
    padding-bottom: 10px;
  }
  
  .inline {
    justify-content: space-around;
  
  }
  
  .mainclass h2 {
    font-size: 3em;
    max-width: 100%;
    
  }
  
  .mainclass p {
    font-size: 1.5rem;
    
  }
/* newsletter adjustments 
  
/* Text under summer-kit picture */
.sommerkit-text {
  display: flex;
  font-size: 1.5rem;
  color: black;
  padding-right: 15%;
  align-items: flex-end;
  margin-bottom: 23%;
  width: 20%;
  padding-left: 14%;
  text-decoration: underline;
 

}




/*might delete - text next to can,*/
.cantext {
  font-size: 1.2rem;
  width: 40%;
  line-height: 1.5;
  display: flex;
  align-items: center;
  padding-bottom: 25%;
  margin-left: 17%;
  width: 20%;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

/* Not displaying mobile version box */
.boxunder {
  display: none;
}

/* box around newsletter class */ 
.section4 {
  height: 20vh;
  width: 100%;
  background-color: #f6995b;
}
/* class for newsletterbox */ 
.column1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Nyhedsbrev box */
.nyhedsbrev {
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  background-color: #f6995b;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 25% 2%;

}

.nyhedsbrev p {
  line-height: 2rem;
  font-size: 1.4rem;
  margin-top: 10px;
  width: 90%;
  text-align: center;
}

.nyhedsbrev input {
  width: 60%;
  font-size: 1.4rem;
  height: 40%;
  padding: 10px;
  margin-top: 10px;

  border: 1px solid black
}

.nyhedsbrev a {
  width: 60%;
  height: 15%;
  background-color: white;
  border-radius: 10px;
  margin-top: 5%;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: bold;

}

.nyhedsbrev h2 {
  font-size: 2.5rem;
}


.produktside-text {
 
  height: 100%;
  padding-top: 15%;
  padding-right: 10%;
  padding-left: 0;

}

.produktside-text p {
  line-height: 2, 5rem;
  text-align: center;
}
/* "Se produkt" button */
.produktside-text a {
  width: 55%;
  height: 8%;
  padding: 20px;
  margin-bottom: 30%;
  font-size: 1.2rem;
  color: #ffb819;
  

}

.sec3-text1 {
  padding: 10px;
}

.sec3-text2 {
  padding: 10px;
}

.sec3-text3 {
  padding: 10px;
}

}

/* Media query for mobile devices FOCUS IPHONE X */
@media only screen and (max-width: 675px) {

  /* burger menu visable */
  .toggle-button {
    display: flex;
    
   
  }
/* Nav-menu hidden */
  .navbar-links {
    display: none;
    width: 100%;
    

  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
   

  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    background-color: white;
    

  }

  .navbar-links li {
    text-align: center;
    
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    z-index: 10;
  }
/* Landing-page --- mobile version */ 
  .mainclass {
    height: 90vh;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Landing-page-squash.webp);
  }

  .mainclass section p {
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    padding: 0px 30px;

  }

  .mainclass h2 {
    font-size: 1.4rem;
  }

  .headliner1 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }


  .inline {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    margin: 15px;
    width: 100%;
  }

  .text-landing {
    height: 60vh;
    padding: 0;

  }
/* beach section foto -- mobile version */ 
  .headerpicture {
    height: 20vh;
    background-image: url(/img/strandbaggrund.webp);
    background-position-y: 0px;
  }

  .headerpicture h3 {
    text-align: center;
    justify-content: center;
    padding-top: 55px;
    font-size: 1.6rem;
  }
/* Summer-kit section -- mobile */
  .section2 {
    background-image: url(/img/sommerkit-tuborg-squash-mobil.webp);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 0px;
    width: auto;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sommerkit-text {
    height: 100%;
    width: 90%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5%;
    
  }
/* Removing the can text from the mobile version */ 
  .cantext {
    display: none;
  }

  .section2 p {
    text-align: center;
    font-size: 1.3rem;

  }


  .section2 p {
    bottom: 0;
  }
/* Styles for newsletter box and the contents */ 
  .nyhedsbrev {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f6995b;
    border: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .nyhedsbrev input {
    height: 30px;
    width: 30%;
  }

  .nyhedsbrev a {
    height: 30px;
    width: 150px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(33, 33, 172);
    padding: 5px;

  }

  .nyhedsbrev img {
    display: inline-block;
  }


  .section4 {
    height: 20vh;
    width: 100%;
    background-color: #f6995b;
  }

  .column1 {
    width: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

  }

  .column1 input {
    width: 60%;
    height: 2.0em;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 13px;
  }

  .column1 a {
    width: 60%;
    background-color: white;
    border: 1px black solid;
    text-align: center;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 10;
  }

  .section4 img {
    width: 40%;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: relative;
    left: -2em;
    bottom: 5em;
    z-index: 2;
  }


/* Product side - mobile version */
  .section3 {
    background-image: url(/img/tuborg-squash-produkter.webp);
    height: 85vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-position-y: 0px;
    width: auto;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section3 {
    position: relative;
  }

  .produktside-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 80%;
  }

  .section3 p {
    font-size:clamp(0.7rem, 1rem, 1.1rem);
    text-align: center;
  }


  .sec3-text1 {
    padding: 20px;
  }

  .sec3-text2 {
    padding: 20px;
  }

  .sec3-text3 {
    padding: 20px;
  }

/* Button for "Se produkter */
  .section3 a {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #b1510d;
    width: 50%;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    left: 5%;
    top: 30%
  }

  /* SWITCHING TO HTML DOCUMENT (sommerkit.html) -- MOBILE VERSION */
  .main-sommer {
    background-image: url(/img/sommerkit-mobile.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: auto;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headliner-sommerkit h2 {
    font-size: 2.5rem;
    text-align: center;
    width: 70;
  }

  /* SWITCHING TO SHOP HTML DOCUMENT (shop.html -- MOBILE VERSION */
  .main-shop {
    background: rgb(251, 169, 128);
    background: linear-gradient(90deg, rgba(251, 169, 128, 1) 0%, rgba(250, 184, 120, 1) 48%, rgba(247, 201, 109, 1) 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
    /* switching layout from desktop to mobile */ 
  .kassewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;


  }

  .kassewrapper a {
    width: 30vh;
    height: 20vh;
    background-color: white;
    margin: 40px;
    color: rgb(51, 51, 51);
    text-align: center;

  }

  .kassewrapper img {
    width: 100%;
    height: 100%;
  }

  .kassewrapper p {
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
  }

  .firstrow {
    display: flex;
    flex-direction: column;
  }

  .secondrow {
    display: flex;
    flex-direction: column;
  }

  .footer p {
    font-size: 0.6rem;
  }
}