* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.navbar ul li {
  list-style: none;
  display: block;
  position: relative;
  margin: 0 45px;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media only screen and (max-width: 475px) {

  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none; 
    width: 100%;
    
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    
  }
  .navbar-links li {
    text-align: center;
   
  }
  .navbar-links li a {
    padding: .5rem 1rem;
  }
 .navbar-links.active {
  display: flex;
 }
  }