* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 100%;
}

.navbar ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.navbar ul li {
  list-style: none;
  display: block;
  position: relative;
  margin: 0 45px;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media only screen and (max-width: 675px) {

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;

  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    background-color: white;

  }

  .navbar-links li {
    text-align: center;

  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .mainclass {
    height: 100vh;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70px;
    width: auto;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/Landing-page-squash.webp);
  }
  .mainclass section p {
    margin: 20px;
    font-size: 1.2rem;
    text-align: center;
    
  }
  .mainclass h2 {
    font-size: 1.4rem;
  }
  .headliner1 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .inline {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  }
  .text-landing {
    height: 60vh;
  }
  .headerpicture {
    height: 20vh;
    background-image: url(/img/strandbaggrund.webp);
    background-position-y: 0px;
  }
  .headerpicture h3 {
    text-align: center;
    padding-top: 70px;
    font-size: 1.6rem;
  }
  .section2 {
    background-image: url(/img/tuborg-squash-sommerkit.webp);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-position-y: 0px;
    width: auto;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section2 p { 
    text-align: center;
    font-size: 1.3rem;
    
  }
  .section2 input {
    height: 30px;
    width: 30%;
  }
  .section2 a {
    height: 30px;
    width: 150px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(33, 33, 172);
    padding: 5px;

  }
  .firstline {
    bottom: 0;
  }
 
  .section3 
 
}